INFLUX_HOST=http://influxdb3-core:8181
INFLUX_TOKEN=abc123
INFLUX_DATABASE=can_data
INFLUX_MAX_WRITE_LINES=1000
INFLUX_FLUSH_TIME=100
INFLUX_MAX_CONNECTIONS=5
MSG_BUFFER_SIZE=1024

INTERFACE_0_NAME=CAN C
INTERFACE_0_SIM=false
INTERFACE_0_NET=sim
INTERFACE_0_URI=can0
INTERFACE_1_NAME=CAN IHS
INTERFACE_1_SIM=false
INTERFACE_1_NET=sim
INTERFACE_1_URI=can1
