SIMULATE=true
INFLUX_HOST=http://influxdb3-core:8181
INFLUX_TOKEN=abc123
INFLUX_DATABASE=can_data
INTERFACE_0_NAME=CAN C
INTERFACE_0_SIM=false
INTERFACE_0_NET=sim
INTERFACE_0_URI=can0
INTERFACE_1_NAME=CAN IHS
INTERFACE_1_SIM=false
INTERFACE_1_NET=sim
INTERFACE_1_URI=can1
